@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --c-text-primary: theme('colors.dark');
    --c-text-secondary: theme('colors.gray.600');
    --c-text-caption: theme('colors.gray.500');

    --c-heading1: var(--c-heading, theme('colors.dark'));
    --c-heading2: var(--c-heading, theme('colors.dark'));
    --c-heading3: var(--c-heading, theme('colors.dark'));
    --c-heading4: var(--c-heading, theme('colors.dark'));
    --c-heading5: var(--c-heading, theme('colors.dark'));
    --c-heading6: var(--c-heading, theme('colors.dark'));
  }
}

input,
button,
select,
textarea {
  @apply focus:outline-none;
}

* {
  @apply dark:antialiased;
}

@layer utilities {
  .mnt-scrollbar::-webkit-scrollbar {
    @apply bg-transparent;
    inline-size: theme('space.4');
    block-size: theme('space.4');
  }
  .mnt-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-clip-content bg-gray-400/50 rounded-lg border-[6px] border-solid border-transparent;
  }
  .mnt-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400/75;
  }
}
